fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
structlog

opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi

langchain
langchain-google-genai
langchain-community
chromadb
langsmith
streamlit